* {
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;

}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.left {
    left: 0;
    width: 35vw;
}
  
.right {
    right: 0;
    width: 65vw;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
    flex-direction: column;
}


label, input {
    display: block;
}

label {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
}

input:focus {
    outline: none;
    -webkit-box-shadow: 0px 2px 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 17px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 17px -10px rgba(0,0,0,0.75);
    border: 1px solid rgb(89, 144, 200);
    transition: 0.3s;
}


input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgb(82, 82, 82);
    /* outline: none; */
    margin-bottom: 1px;
    
    /* -webkit-box-shadow: 0px 2px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 17px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 17px -6px rgba(0,0,0,0.75); */
}

img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /*magic*/
    /* height: 100vh; */
}

form { 
    display: grid;
    grid-template-columns: 16rem 16rem;
    /* padding-left: 40px; */
    position: relative;
    /* top: 25%; */
}

.form-control {
    margin-bottom: 16px;
}

.form-control.error input {
    border-color: red;
}

.form-control small {
    color: red;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.footer {
    padding: 40px;
}

.text {
    padding-left: 40px;
    padding-bottom: 20px;
    word-spacing: 1px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    box-shadow: 0 3px 12px -1px rgba(0,0,0,0.2);
    padding-left: 40px;
}

.btn {
    cursor: pointer;
    letter-spacing: 1px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 12px;
    width: 200px;
    background-color: rgb(108, 173, 108);
}

a {
    color: rgb(108, 173, 108);
    text-decoration: none;
    font-weight: bold;
}

p {
    margin-top: 30px;
}

#password2 {
    margin-bottom: 0;
}